body,
html {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  font-size: 16px;
}

h1 {
  font-size: 20px;
}

/* NAVIGATION BAR */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 14px;
  line-height: 30px;
}

.logo {
  font-size: 130%;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 40px;
}

.menu:hover {
  background-color: #111;
}

/* JUMBOTRON */
.jumbotron-content {
  width: 100%;
  background-color: grey;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  box-sizing: border-box;
  color: white;
}

.jumbotron-content h1 {
  font-size: 60px;
}
.jumbotron-content p {
  font-size: 130%;
}

.jumbotron-content button {
  background-color: rgb(73, 73, 73);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "content-satu content-dua";
  gap: 50px;
  padding: 40px 30px;
}

.content-satu {
  grid-area: content-satu;
}

.content-dua {
  grid-area: content-dua;
}

.content > * > h4 {
  font-weight: bold;
  font-size: 150%;
  margin: 10px 0;
}

.content > * > img {
  width: 100%;
}

/* FOOTER */
footer {
  margin: 0 auto;
  background-color: grey;
  text-align: center;
  line-height: 50px;
  color: white;
}

footer p {
  margin: 0 auto;
}

/* RESPONSIVE CSS */
/* TABLET */
@media only screen and (max-width: 768px) {
  nav .logo {
    width: 100%;
    margin: 0 auto;
  }
  nav .menu {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .content {
    display: grid;
    /* grid-template-columns: auto;
    grid-template-rows: auto auto; */
    grid-template-areas:
      "content-satu"
      "content-dua";
    gap: 50px 0;
    padding: 40px 30px;
  }

  .jumbotron-content {
    padding: 20px 10px;
  }
  .jumbotron-content h1 {
    font-size: 3rem;
  }

  .jumbotron-content button {
    margin-bottom: 20px;
  }
}
